@charset "UTF-8";

@font-face {
    font-family: 'MunroRegular';
    src:url('http://localhost/~lori/ddump/font/munro.eot');
    src:local('Munro'), local('Munro'), url('http://localhost/~lori/ddump/font/munro.woff') format('woff'), url('http://localhost/~lori/ddump/font/munro.ttf') format('truetype');
}

p.style93 {
    font-size: 13px;
    line-height:normal;
    font-family: 'MunroSmallRegular', sans-serif;
}

.samplebox {
    white-space:nowrap;
    margin-top:10px;
    margin-bottom: 0px;
}






#top_bar {
    z-index:1;
    position:fixed;
    top:0px;
    left:0px;   
    height:25px;
    width:100%;
    padding-bottom:1px;
    padding-left:45px;
    font-size:20px;
    color:#ffffff;
    background-color:#000000;
}

#top_bar a { 
    font-family: 'MunroRegular';
    font-size: 10px;
    font-weight:normal; 
    color:white; 
    text-decoration:none;
    border-color: #000000;
}

#bottom_bar {
    z-index:1;
    position:fixed;
    bottom:0px;
    left:0px;   
    height:15px;
    width:100%;
    padding-top:3px;
    padding-bottom:8px;
    padding-left:45px;
    font-size:20px;
    color: black;
/*    border-style:solid; 
    border-color:black; 
    border-width:1px;*/
    background-color: white;
}

#bottom_bar a { 
    font-family: 'MunroRegular';
    font-size: 10px;
    font-weight:normal; 
    color:black; 
    text-decoration:none;
    border-color: #000000;
}

#bottom_bar td { 
    margin: 0px;
}

#menu { 
    z-index:1;
    position:fixed;
    top:5px;
    left:15px;
    font-family:"Arial",Helvetica,sans-serif;
    font-size:10px;
    font-weight: normal; 
    color:black; 
    text-decoration:none;
/*    border-style:solid; 
    border-color:black; 
    border-width:1px;*/
    background-color: white;
    padding-bottom: 8px;
}

#menu td { 
    padding-left:5px;
    font-family: verdana;
    font-size:9px;
    line-height:11px;
    font-weight:normal; 
    color:black; 
    text-decoration:none;
    border-color:#000000;
    width: 10px;
}

#menu p {
    _position: relative; 
    _top: -50%;
    padding-top:4px;
}
#menu_fil { 
    z-index:5;
    position:fixed;
    top:5px;
    left:150px;
    color:black; 
    text-decoration:none;
/*    border-style:solid; 
    border-color:black; 
    border-width:1px;*/
    background-color: white;
    padding-bottom: 10px;

}

#menu_fil td { 
    padding-left:5px;
    font-family: verdana;
    font-size:9px;
    line-height:11px;
    font-weight:normal; 
    color:black; 
    text-decoration:none;
    border-color:#000000;
}

.fil{
}

.fil:link{
    color:black;
}
.fil:visited{
    color:black;
}
.fil:hover{
    background-color:white;
}

#menu_tag { 
    z-index:5;
    position:fixed;
    top:5px;
    left:230px;
    font-weight: normal; 
    color:black; 
    text-decoration:none;
/*    border-style:solid; 
    border-color:black; 
    border-width:1px;*/
    background-color: white;
    padding-bottom: 10px;
}

#menu_tag td { 
    padding-left:5px;
    font-family: verdana;
    font-size:9px;
    line-height:11px;
    font-weight:normal; 
    color:black; 
    text-decoration:none;
    border-color:#000000;
}

#menu_i { 
    position:fixed;
    top:485px;
    left:150px;
    font-family: 'MunroRegular';
    font-size:10px;
    font-weight: normal; 
    color:black; 
    text-decoration:none;
    border-color: #000000;
}

#menu_i p {
    _position: relative; 
    _top: -50%;
    padding-top:4px;
}

.columntxt {
    position:fixed; 
    padding-top:20px;
    top:430; 
    font-family: 'MunroRegular';
    font-size:10px;
    padding-left:6px;
}

#viz_l {
    right:330px;
    position:fixed;
    top:55px;
    color:black;
    font-family:'MunroRegular';
    font-size:10px;
}

#icon6 {
    float:right;    
}
#icon5 {
    float:right;    
}

.draggable { 
    width: 100px; 
    height: 100px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px 10px 10px 0; 
}

.draggable p { 
    cursor:move; 
}

.img {
    border-style:solid; 
    border-color:black; 
    border-width:1px;
}

.icons {
    border-width:0px;
}


#containment-wrapper { 
    width:92%; 
    height:90%; 
    border:0px solid #ccc; 
    padding: 5px;
    margin-bottom: 5px;
    float: left;
    position: fixed;
}


.about {
    top:90px;
    position:absolute;
}

.about p{
    left:0px;   
    width:80%;
    padding-bottom:1px;
    padding-left:45px;
    font-size:40px;
    color:#000000;
    font-family:serif;
}


.projects p{
    position:fixed;
    top:50px;
    left:0px;   
    height:25px;
    width:80%;
    padding-bottom:1px;
    padding-left:45px;
    color:#000000;
}

.blog {
    position:absolute;
}

.blog:link{
    color:black;
}
.blog:visited{
    color:black;
}
.blog:hover{
    background-color:yellow;
}
.software {
    position:fixed;
    top:80px;
    left:0px;   
    height:25px;
    width:80%;
    padding-bottom:1px;
    padding-left:45px;
    font-size:40px;
    color:#000000;
}

.sowftware p{
    position:fixed;
    top:50px;
    left:0px;   
    height:25px;
    width:80%;
    padding-bottom:1px;
    padding-left:45px;
    color:#000000;
}


#tag {
    position: absolute;
    background-color:white;
    top: 0px;
    right: 0px;
    z-index: 5;
}

