<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css">
<link type="text/css" href="{{MEDIA_URL}}jq/css/themename/jquery-ui-1.8.custom.css" rel="Stylesheet" /> 
<script type="text/javascript" src="{{MEDIA_URL}}jq/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jq/js/jquery-ui-1.8.custom.min.js"></script>


<script type="text/javascript">
    function mouseOver(img,n){
    document.getElementById("icon"+n).src = img
    }
    function mouseOut(img,n){
    document.getElementById("icon"+n).src = img
    }

    $(document).ready(function() {
        $(".draggable").draggable({ 
            containment: '#containment-wrapper', 
            scroll: false,
            distance: 10,
            handle: 'p',
            stop: function(event) {
                var pos=$(this).position();
                var ddata={};
                ddata['top'] = pos.top;
                ddata['left'] = pos.left;
                ddata['id'] = $(this).attr("data-id");
                $.post("post/",ddata)
            }
        });
    });
</script>

</head>
<body>

<div id="top_bar" z-index=1>
    <table>
        <tr>
            <td width=80px>
            <a href= "{% url viz.views.vis_a %}">
            <p>digital dump</p> 
            </a>
            </td>
            <td width=25px>
            <p id="bar" >|</p>
            </td>
            <td width=50px>
            <a href= "{% url viz.views.vis_about %}"
            <p>about</p>
            </a>
            </td>
            <td width=25px>
            <p>|</p>
            </td>
            <td width=60px>
            <a href= "{% url viz.views.vis_projects %}">
            <p>projects</p>
            </a>
            </td>
            <td width=25px>
            <p id="bar" >|</p>
            </td>
            <td width=60px>
            <a href= "{% url viz.views.vis_software %}">
            <p id="bar" >software</p>
            </a>
            </td>
        </tr>
    </table>
</div>

<div class="about">
    <table>
        <tr>
            <td>
                <p>
                How design deals with reuse and recycle? </br>
                And what is the relation between the digital environment and recycling practices?</br></br>
                In the design field much can be done</br> 
                in order to improve its relationship with the environment, from the design methods</br> 
                to the material used. </br>But even more it is trying to deconstruct</br>   
                the capitalistic attitude of throwing away </br>
                in order to build new </br>
                and the process of copyright itself.</br></br>
                Redesign is a branch of product design </br>
                (but it is already spread into architecture</br> 
                and interior design), that reuses</br> 
                dumped items to build new ones.</br> 
                In this way it is also underlining</br> 
                the importance of the attitude itself of putting 
                something again into the design cycle more 
                than the immediate result on the environment. </br> </br> 
                Reusing a dumped item</br> 
                it is also putting its design in the process 
                again, without worrying about its previous 
                designer and copyright, and it can be seen</br> 
                as claiming the possibility of society's different approaches on the same item</br> 
                giving another chance to be useful</br> 
                in the system even to dumped products.</br></br> 
                In the digital environment the issue</br> 
                about lack of raw materials is obviously meaningless. </br> 
                Materials are not precious as the ones</br>  
                we deal with in the real world,</br> 
                and more we can duplicate them</br> 
                as many times as we wish, 
                therefore</br> there is no reason to think about
                any scarcity of materials in computers environment. </br></br>
                Although in the virtual world recycle</br> 
                can be just discussed with metaphors,</br> 
                is interesting to see how this redesigning</br> 
                and recycling processes would work </br>
                in the environment that is now</br> 
                involving design so much. </br>
                In particular I'm interested in the role</br> 
                that redesigning attitudes could have</br> 
                on graphic design and digital art.</br> </br>
                The practice of reuse is already spread</br> 
                into the digital culture, without knowing</br> 
                everyone is already taking advantage</br> 
                of the versatility of digital files</br> 
                using them more than once 
                and sometimes</br>  for different purposes. </br>
                Specially in artistic processes it is already common to use the "recycling" practice</br>  
                in order to claim very specific statements against intellectual property and the art system, and it could be tracked</br>  
                in other projects where data are turned</br>  
                into other media shapes</br>  
                in order to be underlined or better understood (for example letters of a text turned into colours in order to underline</br>  the language scheme).
                </p>
            </td>
        </tr>
    </table>
</div>
</body>

