<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="{{MEDIA_URL}}css/smoothness/jquery-ui-1.7.2.custom.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="http://localhost/~lori/ddump/css/style.css">

<script type="text/javascript">
        function mouseOver(img,n){
        document.getElementById("icon"+n).src = img
        }
        function mouseOut(img,n){
        document.getElementById("icon"+n).src = img
        }

</script>
</head>
<body><div id="top_bar" >
    <table>
        <tr>
            <td width=80px>
            <p id="bar" >digital dump</p> 
            </td>
            <td width=25px>
            <p id="bar" >|</p>
            </td>
            <td width=50px>
            <p id="bar" >about</p>
            </td>
            <td width=25px>
            <p id="bar" >|</p>
            </td>
            <td width=60px>
            <p id="bar" >projects</p>
            </td>
            <td width=25px>
            <p id="bar" >|</p>
            </td>
            <td width=60px>
            <p id="bar" >software</p>
            </td>
        </tr>
    </table>
</div>
<div id="menu">
    <table>
        <tr>
            <td width=25px>
            <a href= "http://127.0.0.1:8000/ddump/home/" onmouseover="mouseOver('http://localhost/~lori/ddump/icons/dump_on.png',1)"
            onmouseout="mouseOut('http://localhost/~lori/ddump/icons/dump.png',1)"> 
            <img id="icon1" src="http://localhost/~lori/ddump/icons/dump.png" border = 0/><br />
            </a>
            </td>
            <td width=100px>
            <p>Dump</p>
            </td>
        </tr>
        <tr>
            <td>
            <a href= "http://127.0.0.1:8000/ddump/home/list" onmouseover="mouseOver('http://localhost/~lori/ddump/icons/list_on.png',2)"
            onmouseout="mouseOut('http://localhost/~lori/ddump/icons/list.png',2)"> 
            <img id="icon2" src="http://localhost/~lori/ddump/icons/list.png" border = 0/><br />
            </a> 
            </td>
            <td width=100px>
            <p>List</p>
            </td>
        </tr>
        <tr>
            <td>
            <a href= "http://127.0.0.1:8000/ddump/home/img">
            <img id="icon3" src="http://localhost/~lori/ddump/icons/tab_on.png" border = 0/><br />
            </a>
            </td>
            <td width=100px>
            <p>Table</p>
            </td>
        </tr>
        <tr>
            <td>
            <a href= "http://127.0.0.1:8000/ddump/home/info" onmouseover="mouseOver('http://localhost/~lori/ddump/icons/info_on.png',4)"
            onmouseout="mouseOut('http://localhost/~lori/ddump/icons/info.png',4)">
            <img id="icon4" src="http://localhost/~lori/ddump/icons/info.png" border = 0/><br />
            </a>
            </td>
            <td width=100px>
            <p>Info</p>
            </td>
        </tr>
        <tr>
            <td height=15px>
            </td>
        </tr>
</table>
</div>
<div id=menu2>
<table width=100px>
    <tr>
        <td>
        <tr height=10px><td>.txt</td></tr>
        <tr height=10px><td>.img</td></tr>
        <tr height=10px><td>.sound</td></tr>
        <tr height=10px><td>.video</td></tr>
        <tr height=10px><td>.source</td></tr>
        <tr height=10px><td>.code</td></tr>
        <tr height=10px><td>.other</td></tr>
        </td>
    </tr>
</table>
</div>

{% for dfile in dfiles %}
<div style = "position:absolute; top:80; left:350px;">
    <td>
    <a href= "{{ dfile.dfile.url }}"> 
{% ifequal dfile.dtype "image/jpeg"%} 
        <img src="{{MEDIA_URL}}thumb/{{ dfile.title }}_thumb"  border = 0/><br />
        {% endifequal %}
    {% ifequal dfile.dtype "image/x-ms-bmp"%}
        <img src="{{MEDIA_URL}}thumb/{{ dfile.title }}_thumb" border = 0/><br />
        {% endifequal %}
    {% ifequal dfile.dtype "image/png"%}
        <img src="{{MEDIA_URL}}thumb/{{ dfile.title }}_thumb"  border = 0/><br />
        {% endifequal %}
    {% ifequal dfile.dtype "text/plain" %}   
        <img src="http://localhost/~lori/ddump/icons/red.png" border = 0/><br />
        {% endifequal %}
    {% ifequal dfile.dtype "application/pdf" %}
        <img src="http://localhost/~lori/ddump/icons/blue.png" border = 0/><br />
        {% endifequal %}
    {% ifequal dfile.dtype "application/msword" %}   
        <img src="http://localhost/~lori/ddump/icons/red.png" border = 0/><br />
        {% endifequal %}
    {% ifequal dfile.dtype "application/vnd.ms-excel" %}    
        <img src="http://localhost/~lori/ddump/icons/red.png" border = 0/><br />
        {% endifequal %}
    {% ifequal dfile.dtype "None" %} 
        <img src="http://localhost/~lori/ddump/icons/yellow.png" border = 0/><br />
        {% endifequal %}
    </a>
    </td>
</div>
{% endfor %}
<body>
