<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css">
<link type="text/css" href="{{MEDIA_URL}}jq/css/themename/jquery-ui-1.8.custom.css" rel="Stylesheet" /> 
<script type="text/javascript" src="{{MEDIA_URL}}jq/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jq/js/jquery-ui-1.8.custom.min.js"></script>


<script type="text/javascript">
    function mouseOver(img,n){
    document.getElementById("icon"+n).src = img
    }
    function mouseOut(img,n){
    document.getElementById("icon"+n).src = img
    }

    $(document).ready(function() {
        $(".draggable").draggable({ 
            containment: '#containment-wrapper', 
            scroll: false,
            distance: 10,
            handle: 'p',
            stop: function(event) {
                var pos=$(this).position();
                var ddata={};
                ddata['top'] = pos.top;
                ddata['left'] = pos.left;
                ddata['id'] = $(this).attr("data-id");
                $.post("post/",ddata)
            }
        });
    });
</script>

</head>
<body>
<div id="menu">
    <img style="padding-top: 0px;" src="http://localhost/~lori/ddump_type-.png"/>
    <table width=80px >
        <tr>
            <td id="icons" >
            <a href= "{% url viz.views.vis_a %}">
            <img id="icon1" src="{{ MEDIA_URL }}icons/dump_on.png" border = 0/><br />
            </a>
            </td>
            <td>
            <p>Dump</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_list %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/list_on.png',2)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/list.png',2)"> 
            <img id="icon2" src="{{ MEDIA_URL }}icons/list.png" border = 0/><br />
            </a> 
            </td>
            <td>
            <p>List</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_c %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/tab_on.png',3)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/tab.png',3)">
            <img id="icon3" src="{{ MEDIA_URL }}icons/tab.png" border = 0/><br />
            </a>
            </td>
            <td>
            <p>Table</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_b %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/info_on.png',4)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/info.png',4)">
            <img id="icon4" src="{{ MEDIA_URL }}icons/info.png" border = 0/><br />
            </a>
            </td>
            <td>
            <p>Info</p>
            </td>            
        </tr>

</table>
</div>
<div id="menu_out">
<table width=170px>
    <tr>
        <td style="font-weight:bold;text-transform:uppercase; padding-top:5px;">
            look at some outputs
        </td>
    </tr>
    <tr height=35px><td></td></tr>
    <tr>
        <td>
            <img id="img_out" src="http://localhost/~lori/focus.jpg"/>         
        </td>
    </tr>
    <tr height=2px><td></td></tr>
    <tr height=10px><td><a class=fil href= "">prev</a><<<<<<<--->>>>>>><a class=fil href= "">next</a></td></tr>
    <tr height=10px><td></td></tr>
    <tr>
        <td>
            this is done this and that way.         
        </td>
    </tr>
    <tr height=10px><td><a class=fil href= "">.read more</a></td></tr>
</table>
</div>

<div id="bottom_bar" z-index=1>
    <table>
        <tr>
            <td width=150px>
                <a href= "{% url viz.views.vis_a %}">
                what is digital dump? 
                </a>
            </td>
            <td width=100px>
                <a href= "{% url viz.views.vis_a %}">
                contribute
                </a>
            </td>
        </tr>
    </table>
</div>

{% for dfile in dfiles %}
<div class="draggable" data-id="{{dfile.id}}" style = "position:absolute; top:{{ dfile.file_y|default_if_none:200 }}px; left:{{ dfile.file_x|default_if_none:600}}px; z-index:0; height:0; width:0; <!--border-style:solid; border-color:black; border-width:1px;-->">
    <td>
    <a href= "{{ dfile.dfile.url }}"> 
        {% ifequal dfile.dtype "image"%} 
        <img class="img" src="{{MEDIA_URL}}thumb/{{ dfile.title }}_thumb"/>
            {% endifequal %}
        {% ifequal dfile.dtype "image/gif"%} 
            <img class="img" src="{{MEDIA_URL}}files/{{ dfile.title }}" style="max-width:80px; max-height:80px;"/>
            {% endifequal %}
        {% ifequal dfile.dtype "text" %}   
            <img class=icons src="{{ MEDIA_URL }}icons/red.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "application" %}
            <img class=icons src="{{ MEDIA_URL }}icons/magenta.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "image/x-photoshop" %}
            <img class=icons src="{{ MEDIA_URL }}icons/magenta.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "image/svg+xml" %}
            <img class=icons src="{{ MEDIA_URL }}icons/magenta.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "audio" %}    
            <img class=icons src="{{ MEDIA_URL }}icons/blue.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "None" %} 
            <img class=icons src="{{ MEDIA_URL }}icons/yellow.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "video" %} 
            <img class=icons src="{{ MEDIA_URL }}icons/green.png"/>
            {% endifequal %}
    </a>
    </td>
</div>
{% endfor %}
</div>

</body>

