<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="{{MEDIA_URL}}css/smoothness/jquery-ui-1.7.2.custom.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css">

<script type="text/javascript">
        function mouseOver(img,n){
        document.getElementById("icon"+n).src = img
        }
        function mouseOut(img,n){
        document.getElementById("icon"+n).src = img
        }
</script>
</head>
<body>
<div id="menu">
    <img style="padding-top: 0px;" src="http://localhost/~lori/ddump_type-.png"/>
    <table width=80px >
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_a %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/dump_on.png',1)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/dump.png',1)">
            <img id="icon1" src="{{ MEDIA_URL }}icons/dump.png" border = 0/><br />
            </a>
            </td>
            <td>
            <p>Dump</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_list %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/list_on.png',2)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/list.png',2)"> 
            <img id="icon2" src="{{ MEDIA_URL }}icons/list.png" border = 0/><br />
            </a> 
            </td>
            <td>
            <p>List</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_c %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/tab_on.png',3)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/tab.png',3)">
            <img id="icon3" src="{{ MEDIA_URL }}icons/tab.png" border = 0/><br />
            </a>
            </td>
            <td>
            <p>Table</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_b %}">
            <img id="icon4" src="{{ MEDIA_URL }}icons/info_on.png" border = 0/><br />
            </a>
            </td>
            <td >
            <p>Info</p>
            </td>
        </tr>
</table>
</div>

<div id="menu_out">
<table width=170px>
    <tr>
        <td style="font-weight:bold;text-transform:uppercase; padding-top:5px;">
            look at some outputs
        </td>
    </tr>
    <tr height=35px><td></td></tr>
    <tr>
        <td>
            <img id="img_out" src="http://localhost/~lori/focus.jpg"/>         
        </td>
    </tr>
    <tr height=2px><td></td></tr>
    <tr height=10px><td><a class=fil href= "">prev</a><<<<<<<--->>>>>>><a class=fil href= "">next</a></td></tr>
    <tr height=10px><td></td></tr>
    <tr>
        <td>
            this is done this and that way.         
        </td>
    </tr>
    <tr height=10px><td><a class=fil href= "">.read more</a></td></tr>
</table>
</div>

<div id="bottom_bar" z-index=1>
    <table>
        <tr>
            <td width=150px>
                <a href= "{% url viz.views.vis_a %}">
                what is digital dump? 
                </a>
            </td>
            <td width=100px>
                <a href= "{% url viz.views.vis_a %}">
                contribute
                </a>
            </td>
        </tr>
    </table>
</div>
<div style = "left:30px;">
{% for year,pleft in y_all.items %}
    <div class="columntxt" style = "left:{{pleft}};">
    {{year}}
    </div>
{% endfor %}
</div>

{% for obj in f1 %}

<div style = "position:absolute; z-index:{{forloop.counter}}; bottom:{{obj.bottom}}; left:{{ obj.left }};">
    <a href= "{{ obj.dfile.dfile.url }}"> 
    {% ifequal obj.dfile.dtype "image"%}
        <img class="img" src="{{MEDIA_URL}}thumb/{{ obj.dfile.title }}_thumb"/>
        {% endifequal %}
    {% ifequal obj.dfile.dtype "image/gif"%} 
        <img class="img" src="{{MEDIA_URL}}files/{{ obj.dfile.title }}" style="max-width:80px; max-height:80px;"/>
        {% endifequal %}
    {% ifequal obj.dfile.dtype "text" %}   
        <img src="{{MEDIA_URL}}icons/red.png" border = 0/>
        {% endifequal %}
    {% ifequal obj.dfile.dtype "application" %}
        <img src="{{MEDIA_URL}}icons/magenta.png" border = 0/>
        {% endifequal %}
    {% ifequal obj.dfile.dtype "image/x-photoshop" %}
        <img src="{{MEDIA_URL}}icons/magenta.png" border = 0/>
        {% endifequal %}
    {% ifequal obj.dfile.dtype "image/svg+xml" %}
        <img src="{{MEDIA_URL}}icons/magenta.png" border = 0/>
        {% endifequal %}
    {% ifequal obj.dfile.dtype "None" %} 
        <img src="{{MEDIA_URL}}icons/yellow.png" border = 0/>
        {% endifequal %}
    {% ifequal obj.dfile.dtype "audio" %} 
        <img src="{{MEDIA_URL}}icons/blue.png" border = 0/>
        {% endifequal %}
    {% ifequal obj.dfile.dtype "video" %} 
        <img src="{{MEDIA_URL}}icons/green.png" border = 0/>
        {% endifequal %}
    </a>
</div>

{% endfor %}

<body>

