<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="{{MEDIA_URL}}css/smoothness/jquery-ui-1.7.2.custom.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css">

<script type="text/javascript">
        function mouseOver(img,n){
        document.getElementById("icon"+n).src = img
        }
        function mouseOut(img,n){
        document.getElementById("icon"+n).src = img
        }

</script>
</head>
<body>
<div id="menu">
    <img style="padding-top: 0px;" src="{{ MEDIA_URL }}icons/ddump_type-.png"/>
    <table width=80px >
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_a %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/dump_on.png',1)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/dump.png',1)">
            <img id="icon1" src="{{ MEDIA_URL }}icons/dump.png" border = 0/><br />
            </a>
            </td>
            <td>
            <p>Dump</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_list %}"> 
            <img id="icon2" src="{{ MEDIA_URL }}icons/list_on.png" border = 0/><br />
            </a> 
            </td>
            <td>
            <p>List</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_c %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/tab_on.png',3)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/tab.png',3)">
            <img id="icon3" src="{{ MEDIA_URL }}icons/tab.png" border = 0/><br />
            </a>
            </td>
            <td>
            <p>Table</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_b %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/info_on.png',4)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/info.png',4)">
            <img id="icon4" src="{{ MEDIA_URL }}icons/info.png" border = 0/><br />
            </a>
            </td>
            <td >
            <p>Info</p>
            </td>
        </tr>
</table>
</div>
<div id="menu_fil">
<table width=60px>
    <tr>
        <td>
        <tr><td style="font-weight:bold; text-transform:uppercase; padding-top:5px;">type<br/> filters</td></tr>
        <tr height=30px><td></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}text">.txt</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}image">.img</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}sound">.sound</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}video">.video</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}source">.source</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}code">.code</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}other">.other</a></td></tr>
        </td>
    </tr>
</table>
</div>
<div id="menu_tag">
<table width=100px>
    <tr>
        <td>
        <tr><td style="font-weight:bold;text-transform:uppercase; padding-top:5px;">tags</td></tr>
        <tr height=40px><td></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}out of focus">.out of focus</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}overexposed">.overexposed</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}underexposed">.underexposed</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}missed subject">.missed subject</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}obscure subject">.obscure subject</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}backlight">.backlight</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}finger lens">.finger lens</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_list %}moving">.moving</a></td></tr>
        <tr height=10px><td>-</td></tr>
        <tr height=10px>
            <td>
                {% ifequal tag "" %}
                    <a href="{% url viz.views.vis_c %}?tag=1">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "0" %}
                    <a href="{% url viz.views.vis_c %}?tag=1">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "1" %}
                    <a href="{% url viz.views.vis_c %}?tag=0">Tag pics here</a> 
                {% endifequal %}    
            </td>
        </tr>
        </td>
    </tr>
</table>
</div>

<div id="menu_out">
<table width=170px>
    <tr>
        <td style="font-weight:bold;text-transform:uppercase; padding-top:5px;">
            look at some outputs
        </td>
    </tr>
    <tr height=35px><td></td></tr>
    <tr>
        <td>
            <img id="img_out" src="http://localhost/~lori/focus.jpg"/>         
        </td>
    </tr>
    <tr height=2px><td></td></tr>
    <tr height=10px><td><a class=fil href= "">prev</a><<<<<<<--->>>>>>><a class=fil href= "">next</a></td></tr>
    <tr height=10px><td></td></tr>
    <tr>
        <td>
            this is done this and that way.         
        </td>
    </tr>
    <tr height=10px><td><a class=fil href= "">.read more</a></td></tr>
</table>
</div>

<div id="bottom_bar" z-index=1>
    <table>
        <tr>
            <td width=150px>
                <a href= "{% url viz.views.vis_a %}">
                what is digital dump? 
                </a>
            </td>
            <td width=100px>
                <a href= "{% url viz.views.vis_a %}">
                contribute
                </a>
            </td>
        </tr>
    </table>
</div>

<div>
    <table id="viz_l">
        <tr>
        <td>
        </td>
        <td width=5px>
        </td>
        <td id="top_names" width=150px>
        name
        </td>
        </td>
        <td width=18px>
        </td>
        <td style="text-transform: uppercase;font-weight: bold;" width=70px>
        size
        </td>
        </td>
        <td width=25px>
        </td>
        <td style="text-transform: uppercase;font-weight: bold;" width=70px>
        date
        </td>
        </td>
        <td width=27px>
        </td>
        <td style="text-transform: uppercase;font-weight: bold;" width=140px >
        type
        </td>
        </tr>
        <tr height=25>
        </tr>
    {% for dfile in dfiles %}
        <tr>
        <td>
        <a href= "{{ dfile.dfile.url }}" style = "float:right;"> 
        {% ifequal dfile.dtype "image"%}               
            <img class=img src="{{MEDIA_URL}}thumb/{{ dfile.title }}_thumb" height=32px border = 0/><br />
            {% endifequal %}
        {% ifequal dfile.dtype "image/gif"%} 
            <img class=img src="{{MEDIA_URL}}files/{{ dfile.title }}" style="max-width:32px; max-height:32px;"/><br />
            {% endifequal %}
        {% ifequal dfile.dtype "application" %}
            <img class=icons src="{{ MEDIA_URL }}icons/magenta_s.png"/><br />
            {% endifequal %}
        {% ifequal dfile.dtype "image/svg+xml" %}
            <img class=icons src="{{ MEDIA_URL }}icons/magenta_s.png"/><br />
            {% endifequal %}
        {% ifequal dfile.dtype "image/x-photoshop" %}
            <img class=icons src="{{ MEDIA_URL }}icons/magenta_s.png"/><br />
            {% endifequal %}
        {% ifequal dfile.dtype "audio" %}    
            <img class=icons src="{{ MEDIA_URL }}icons/blue_s.png"/><br />
            {% endifequal %}
        {% ifequal dfile.dtype "None" %} 
            <img class=icons src="{{ MEDIA_URL }}icons/yellow_s.png"/><br />
            {% endifequal %}
        {% ifequal dfile.dtype "video" %} 
            <img class=icons src="{{ MEDIA_URL }}icons/green_s.png"/><br />
            {% endifequal %}
        {% ifequal dfile.dtype "text" %} 
            <img class=icons src="{{ MEDIA_URL }}icons/magenta_s.png"/><br />
            {% endifequal %}
    </a>
    </td>
        <td width=5px>
        </td>
        <td width=150px>
        {{ dfile.title|slice:":20" }}
        </td>
        </td>
        <td width=18px>
        </td>
        <td width=70px>
        {{ dfile.size }}
        </td>
        </td>
        <td width=25px>
        </td>
        <td width=70px>
        {{ dfile.pub_date.date }}
        </td>
        </td>
        <td width=27px>
        </td>
        <td width=140px >
        {{ dfile.dtype }}
        </td>
        </tr>
    {% endfor %}
    </table>
</div>
<body>
