<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css">
<link type="text/css" href="{{MEDIA_URL}}jq/css/themename/jquery-ui-1.8.custom.css" rel="Stylesheet" /> 
<script type="text/javascript" src="{{MEDIA_URL}}jq/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jq/js/jquery-ui-1.8.custom.min.js"></script>


<script type="text/javascript">
    function mouseOver(img,n){
    document.getElementById("icon"+n).src = img
    }
    function mouseOut(img,n){
    document.getElementById("icon"+n).src = img
    }

    $(document).ready(function() {
        $(".draggable").draggable({ 
            containment: '#containment-wrapper', 
            scroll: false,
            distance: 10,
            handle: 'p',
            stop: function(event) {
                var pos=$(this).position();
                var ddata={};
                ddata['top'] = pos.top;
                ddata['left'] = pos.left;
                ddata['id'] = $(this).attr("data-id");
                $.post("post/",ddata)
            }
        });
    });
</script>

</head>
<body>

<div id="top_bar" z-index=1>
    <table>
        <tr>
            <td width=80px>
            <a href= "{% url viz.views.vis_a %}">
            <p>digital dump</p> 
            </a>
            </td>
            <td width=25px>
            <p id="bar" >|</p>
            </td>
            <td width=50px>
            <a href= "{% url viz.views.vis_about %}">
            <p>about</p>
            </a>
            </td>
            <td width=25px>
            <p>|</p>
            </td>
            <td width=60px>
            <a href= "{% url viz.views.vis_projects %}">
            <p>projects</p>
            </a>
            </td>
            <td width=25px>
            <p id="bar" >|</p>
            </td>
            <td width=60px>
            <a href= "{% url viz.views.vis_software %}">
            <p id="bar" >software</p>
            </a>
            </td>
        </tr>
    </table>
</div>
<div class="projects">
    <table>
        <tr>
            <td>
                <p><a class="blog" style='top:45;font-size:40px;' href= "http://loredana-pzi.blogspot.com/">
                ddump blog
                </a></p>
                <p style ='font-size:15px;top:150px;'>link to the project blog<br/>containing experiments<br/>done with the dumped files</p>
            </td>
        </tr>
    </table>
</div>
</body>

