<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css">
<link type="text/css" href="{{MEDIA_URL}}jq/css/themename/jquery-ui-1.8.custom.css" rel="Stylesheet" /> 
<script type="text/javascript" src="{{MEDIA_URL}}jq/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jq/js/jquery-ui-1.8.custom.min.js"></script>

<script type="text/javascript">
    function mouseOver(img,n){
    document.getElementById("icon"+n).src = img
    }
    function mouseOut(img,n){
    document.getElementById("icon"+n).src = img
    }
 

</script>
</head>
<body>
<div id="menu">
    <img style="padding-top: 0px;" src="http://localhost/~lori/ddump_type-.png"/>
    <table width=80px >
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_a %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/dump_on.png',1)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/dump.png',1)">
            <img id="icon1" src="{{ MEDIA_URL }}icons/dump.png" border = 0/><br />
            </a>
            </td>
            <td>
            <p>Dump</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_list %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/list_on.png',2)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/list.png',2)"> 
            <img id="icon2" src="{{ MEDIA_URL }}icons/list.png" border = 0/><br />
            </a> 
            </td>
            <td>
            <p>List</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_c %}">
            <img id="icon3" src="{{ MEDIA_URL }}icons/tab_on.png" border = 0/><br />
            </a>
            </td>
            <td>
            <p>Table</p>
            </td>
        </tr>
        <tr>
            <td id="icons">
            <a href= "{% url viz.views.vis_b %}" onmouseover="mouseOver('{{ MEDIA_URL }}icons/info_on.png',4)"
            onmouseout="mouseOut('{{ MEDIA_URL }}icons/info.png',4)">
            <img id="icon4" src="{{ MEDIA_URL }}icons/info.png" border = 0/><br />
            </a>
            </td>
            <td >
            <p>Info</p>
            </td>            
        </tr>
</table>
</div>
<div id="menu_fil">
<table width=60px>
    <tr>
        <td>
        <tr><td style="font-weight:bold; text-transform:uppercase; padding-top:5px;">type<br/> filters</td></tr>
        <tr height=30px><td></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}text/?filt=text">text</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}audio/?filt=audio">audio</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}image/?filt=image">image</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}video/?filt=video">video</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}app/?filt=app">application</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}other/?filt=other">other</a></td></tr>
        </td>
    </tr>
</table>
</div>
{% ifequal filt "text" %}
<div id="menu_tag">
<table width=100px>
    <tr>
        <td>
        <tr><td style="font-weight:bold;text-transform:uppercase; padding-top:5px;">tags</td></tr>
        <tr height=40px><td></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}useless">useless</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}boring">boring</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}code">code</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}notes">notes</a></td></tr>
        <tr height=10px><td>-</td></tr>
        <tr height=10px>
            <td>
                {% ifequal tag "" %}
                    <a href="{% url viz.views.vis_c %}text/?tag=1t">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "0" %}
                    <a href="{% url viz.views.vis_c %}text/?tag=1t">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "1t" %}
                    <a href="{% url viz.views.vis_c %}text/?tag=0">Tag pics here</a> 
                {% endifequal %}    
            </td>
    </tr>
</table>
</div>
{% endifequal %}
{% ifequal filt "audio" %}
<div id="menu_tag">
<table width=100px>
    <tr>
        <td>
        <tr><td style="font-weight:bold;text-transform:uppercase; padding-top:5px;">tags</td></tr>
        <tr height=40px><td></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}noisy">noisy</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}cut">cut</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}low">low</a></td></tr>
        <tr height=10px><td>-</td></tr>
        <tr height=10px>
            <td>
                {% ifequal tag "" %}
                    <a href="{% url viz.views.vis_c %}audio/?tag=1a">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "0" %}
                    <a href="{% url viz.views.vis_c %}audio/?tag=1a">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "1a" %}
                    <a href="{% url viz.views.vis_c %}audio/?tag=0">Tag pics here</a> 
                {% endifequal %}    
            </td>
    </tr>
</table>
</div>
{% endifequal %}
{% ifequal filt "image" %}
<div id="menu_tag">
<table width=100px>
    <tr>
        <td>
        <tr><td style="font-weight:bold;text-transform:uppercase; padding-top:5px;">tags</td></tr>
        <tr height=40px><td></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}out of focus">.out of focus</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}overexposed">.overexposed</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}underexposed">.underexposed</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}missed subject">.missed subject</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}obscure subject">.obscure subject</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}backlight">.backlight</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}finger lens">.finger lens</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}moving">.moving</a></td></tr>
        <tr height=10px><td>-</td></tr>
        <tr height=10px>
            <td>
                {% ifequal tag "" %}
                    <a href="{% url viz.views.vis_c %}image/?tag=1i">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "0" %}
                    <a href="{% url viz.views.vis_c %}image/?tag=1i">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "1i" %}
                    <a href="{% url viz.views.vis_c %}image/?tag=0">Tag pics here</a> 
                {% endifequal %}    
            </td>
    </tr>
</table>
</div>
{% endifequal %}
{% ifequal filt "video" %}
<div id="menu_tag">
<table width=100px>
    <tr>
        <td>
        <tr><td style="font-weight:bold;text-transform:uppercase; padding-top:5px;">tags</td></tr>
        <tr height=40px><td></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}noisy">noisy</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}bymistake">bymistake</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}low_res">low res</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}boring">boring</a></td></tr>
        <tr height=10px><td>-</td></tr>
        <tr height=10px>
            <td>
                {% ifequal tag "" %}
                    <a href="{% url viz.views.vis_c %}video/?tag=1v">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "0" %}
                    <a href="{% url viz.views.vis_c %}video/?tag=1v">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "1v" %}
                    <a href="{% url viz.views.vis_c %}video/?tag=0">Tag pics here</a> 
                {% endifequal %}    
            </td>
    </tr>
</table>
</div>
{% endifequal %}
{% ifequal filt "app" %}
<div id="menu_tag">
<table width=100px>
    <tr>
        <td>
        <tr><td style="font-weight:bold;text-transform:uppercase; padding-top:5px;">tags</td></tr>
        <tr height=40px><td></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}useless">useless</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}partial">partial</a></td></tr>
        <tr height=10px><td><a class=fil href= "{% url viz.views.vis_c %}low">low</a></td></tr>
        <tr height=10px><td>-</td></tr>
        <tr height=10px>
            <td>
                {% ifequal tag "" %}
                    <a href="{% url viz.views.vis_c %}app/?tag=1ap">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "0" %}
                    <a href="{% url viz.views.vis_c %}app/?tag=1ap">Tag pics here</a> 
                {% endifequal %}
                {% ifequal tag "1ap" %}
                    <a href="{% url viz.views.vis_c %}app/?tag=0">Tag pics here</a> 
                {% endifequal %}    
            </td>
    </tr>
</table>
</div>
{% endifequal %}

<div id="menu_out">
<table width=170px>
    <tr>
        <td style="font-weight:bold;text-transform:uppercase; padding-top:5px;">
            look at some outputs
        </td>
    </tr>
    <tr height=35px><td></td></tr>
    <tr>
        <td>
            <img id="img_out" src="http://localhost/~lori/focus.jpg"/>         
        </td>
    </tr>
    <tr height=2px><td></td></tr>
    <tr height=10px><td><a class=fil href= "">prev</a><<<<<<<--->>>>>>><a class=fil href= "">next</a></td></tr>
    <tr height=10px><td></td></tr>
    <tr>
        <td>
            this is done this and that way.         
        </td>
    </tr>
</table>
</div>

<div id="bottom_bar" z-index=1>
    <table>
        <tr>
            <td width=150px>
                <a href= "{% url viz.views.vis_a %}">
                what is digital dump? 
                </a>
            </td>
            <td width=100px>
                <a href= "{% url viz.views.vis_a %}">
                contribute
                </a>
            </td>
        </tr>
    </table>
</div>

<div style = "position: absolute; top: 85; left: 35;">
    <img class="img" src="{{MEDIA_URL}}thumb/{{ dfile.title }}black.JPG"/><br />
</div>
<div style = "position: absolute; top: 85; left: 125;">
    <img class="img" src="{{MEDIA_URL}}thumb/{{ dfile.title }}black.JPG"/><br />
</div>

<form method="POST" action="{% url viz.views.vis_c %}">

{% for dlist,y in tab %}
{% for dfile,x in dlist %}
<div style = "position: absolute; top: {{ y }}; left: {{ x }};">
    <a href= "{{ dfile.dfile.url }}"> 
        {% ifequal dfile.dtype "image"%} 
        <img class="img" src="{{MEDIA_URL}}thumb/{{ dfile.title }}_thumb"/>
            {% endifequal %}
        {% ifequal dfile.dtype "image/gif"%} 
            <img class="img" src="{{MEDIA_URL}}files/{{ dfile.title }}" style="max-width:80px; max-height:80px;"/>
            {% endifequal %}
        {% ifequal dfile.dtype "text" %}   
            <img class=icons src="{{ MEDIA_URL }}icons/red.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "application" %}
            <img class=icons src="{{ MEDIA_URL }}icons/magenta.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "image/x-photoshop" %}
            <img class=icons src="{{ MEDIA_URL }}icons/magenta.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "image/svg+xml" %}
            <img class=icons src="{{ MEDIA_URL }}icons/magenta.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "audio" %}    
            <img class=icons src="{{ MEDIA_URL }}icons/blue.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "None" %} 
            <img class=icons src="{{ MEDIA_URL }}icons/yellow.png"/>
            {% endifequal %}
        {% ifequal dfile.dtype "video" %} 
            <img class=icons src="{{ MEDIA_URL }}icons/green.png"/>
            {% endifequal %}
    </a>

    {% ifequal tag "1" %}
        <input style="position:absolute; right:0px; top:0px;" type="checkbox" value="{{dfile.id}}" name="tagged" />
    {% endifequal %}
    {% ifequal tag "1t" %}
        <input style="position:absolute; right:0px; top:0px;" type="checkbox" value="{{dfile.id}}" name="tagged" />
    {% endifequal %}
    {% ifequal tag "1a" %}
        <input style="position:absolute; right:0px; top:0px;" type="checkbox" value="{{dfile.id}}" name="tagged" />
    {% endifequal %}
    {% ifequal tag "1i" %}
        <input style="position:absolute; right:0px; top:0px;" type="checkbox" value="{{dfile.id}}" name="tagged" />
    {% endifequal %}
    {% ifequal tag "1v" %}
        <input style="position:absolute; right:0px; top:0px;" type="checkbox" value="{{dfile.id}}" name="tagged" />
    {% endifequal %}
    {% ifequal tag "1ap" %}
        <input style="position:absolute; right:0px; top:0px;" type="checkbox" value="{{dfile.id}}" name="tagged" />
    {% endifequal %}
</div>
{% endfor %}
{% ifequal tag "1t" %}
        <div style="position:absolute; top:300px; left;30px;">
            {% for tag in tag_text %}
                <input type="submit" value="{{tag.name}}" name="tagbutton" />
                <br/>
            {% endfor %}
        </div>
{% endifequal %}
{% ifequal tag "1a" %}
    <div id="buttons" style="position:absolute; top:300px; left;30px;">
        {% for tag in tag_audio %}
            <input type="submit" value="{{tag.name}}" name="tagbutton" />
            <br/>
        {% endfor %}
    </div>
{% endifequal %}
{% ifequal tag "1i" %}
    <div id="buttons" style="position:absolute; top:300px; left;30px; z-index:10;">
        {% for tag in tag_image %}
            <input type="submit" value="{{tag.name}}" name="tagbutton" />
            <br/>
        {% endfor %}
    </div>
{% endifequal %}
{% ifequal tag "1v" %}
    <div style="position:absolute; top:300px; left;30px;">
        {% for tag in tag_video %}
            <input type="submit" value="{{tag.name}}" name="tagbutton" />
            <br/>
        {% endfor %}
    </div>
{% endifequal %}
{% ifequal tag "1ap" %}
    <div style="position:absolute; top:300px; left;30px;">
        {% for tag in tag_app %}
            <input type="submit" value="{{tag.name}}" name="tagbutton" />
            <br/>
        {% endfor %}
    </div>
{% endifequal %}

{% endfor %}
</form>
<body>
