<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link type="text/css" href="http://localhost/~lori/ddump/jq/css/themename/jquery-ui-1.8.custom.css" rel="Stylesheet" /> 
<script type="text/javascript" src="http://localhost/~lori/ddump/jq/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="http://localhost/~lori/ddump/jq/js/jquery-ui-1.8.custom.min.js"></script>

<style type="text/css">
    #draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
    #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
    </style>
    <script type="text/javascript">
    $(function() {
        $(".draggable").draggable();
        $(".droppable").droppable({
            drop: function(event, ui) {
                $(this).addClass('ui-state-highlight').find('p').html('Dropped!');
            }
        });

    });
    </script>


<div class="demo">
    
<div clas="draggable" class="ui-widget-content">
            <img id="icon2" src="http://localhost/~lori/ddump/icons/list.png" border = 0/><br />
</div>

<div class="draggable" class="ui-widget-content">
            <img id="icon2" src="http://localhost/~lori/ddump/icons/list.png" border = 0/><br />
</div>

<div class="droppable" class="ui-widget-header">
    <p>Drop here</p>
</div>

</div><!-- End demo -->

<div style="display: none;" class="demo-description">

<p>Enable any DOM element to be droppable, a target for draggable elements.</p>

</div><!-- End demo-description -->